.wrapper {
    max-width: 80%;
    margin: 40px auto;
}

.container {
    margin: 0 40px;
}

#image-container {
    position: relative;
}

#image {
    width: 100%;
}

.point {
    position: absolute;
    border-radius: 50%;
    height: 3px;
    width: 3px;
    background: #f00;
}

ul.image-cinema {
    list-style-type: none;
}

ul.image-cinema li {
    display: inline-block;
}

.thumbnail {
    width: 50px;
    max-height: 40px;
    object-fit: cover;
}