.wrapper {
    max-width: 80%;
    margin: 40px auto;
}

.container {
    margin: 0 40px;
}

#image-container {
    position: relative;
}

#image {
    width: 100%;
}

.point {
    position: absolute;
    border-radius: 50%;
    height: 3px;
    width: 3px;
    background: #f00;
}